[submodule "gestion-g6-front"]
	path = gestion-g6-front
	url = https://github.com/Gestion-Grupo-6/gestion-g6-front.git
[submodule "gestion-g6-back"]
	path = gestion-g6-back
	url = https://github.com/Gestion-Grupo-6/gestion-g6-back.git
